#homecard {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
#homecard2 {
  position: absolute;
  background: white;
  border-radius: 0.5rem;
  bottom: 1rem;
  left: 6%;
  right: 6%;
  padding: 0 1rem 0 1rem;
}
#homecard3 {
  font-size: 1.5rem;
  font-weight: 600;
}
#homecard4 {
  font-size: 0.9rem;
  font-weight: 500;
}
#homecard5 {
  text-align: justify;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Exo;
  margin-top: 1rem;
}
#homecard6 {
  text-align: justify;
  font-size: 1rem;
  font-weight: 300;
  font-family: Exo;
}
#homecard7 {
  font-weight: 600;
  color: #1f2230;
}
#homecard8 {
  background: #e47013;
  border: none;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  padding: 0.2rem 2rem 0.2rem 2rem;
}
#homecard9 {
  text-align: justify;
  margin-top: 0.5rem;
}
