
#abt1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 8rem;
  color: aliceblue;
}
#abt2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #32c36c;
}
#abt3 {
  background-color: #f2f2f2;
  height: auto;
}
#abt5 {
  width: 90%;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
#abt6 {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
#abt7 {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
#abt8 {
  font-size: 2.6rem;
  font-weight: 800;
  color: #483999;
}
#abt9 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
  line-height: 2rem;
}
#abt10 {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
#abt11 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#abt12 {
  font-size: 3rem;
  font-weight: 600;
  color: #483999;
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
#abt13 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
  line-height: 2rem;
}
.abtcard1 {
  background-color: #0b3ed9;
}
.abtcard2 {
  background-color: #e47013;
}
#abtcard {
  font-size: 1.5rem;
  color: #eeeeee;
  font-weight: 600;
}
#icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#abtcard3 {
  font-size: 3rem;
  color: #362989;
  font-weight: 600;
}
.iconsName
{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;  
  color: #362989;
}
